.header {
  background-color: var(--background-color);
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  color: var(--primary-color);
  font-size: 2.4rem;
}

.logo span {
  margin-left: 1rem;
}

.image {
  height: 60px;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0 0 0 5rem;
  padding: 0;
}

.menu ul li {
  margin-right: 3rem;
}

.menu ul li:last-of-type {
  margin-right: 0;
}
