.app {
  background-color: #282c34;
}

.header {
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

.logo {
  height: 60px;
}

.title {
  color: #09d3ac;
  font-size: 2.4rem;
  margin-left: 1rem;
}

.menu ul {
  list-style: none;
  display: flex;
  margin: 0 0 0 5rem;
  padding: 0;
}

.menu ul li {
  margin-right: 1rem;
}

.menu ul li:last-of-type {
  margin-right: 0;
}
